h1 {
    font-size: 100;
    color: white;
    margin-left: 150px;
    margin-right: 150px;
    font-family: Helvetica, sans-serif;
}

h2 {
    font-size: 25;
    color: white;
    margin-left: 150px;
    margin-right: 150px;
    font-family: Helvetica, sans-serif;
}

h3 {
    font-size: 25;
    color: white;
    margin-left: 150px;
    margin-right: 150px;
    font-family: Helvetica, sans-serif;
}

p {
    font-size: 25;
    color: white;
    margin-left: 150px;
    margin-right: 150px;
    font-family: Helvetica, sans-serif;
}

img {
    margin-top: 200px;
    margin-left: 150px;
    margin-right: 150px;
    height: 50px;
}

.bigphoto {
    margin-top: 200px;
    margin-left: 150px;
    margin-right: 150px;
    height: 250px;
}

.bigphoto1 {
    margin-top: 200px;
    margin-left: 150px;
    margin-right: 150px;
    height: 450px;
}


form {
    margin-top: 0px;
    margin-left: 150px;
    margin-right: 150px;
}

input[type=text] {
    height: 35px;
    font-size: 22.5;
    font-family: Helvetica, sans-serif;
}

input[type=submit] {
    height: 35px;
    font-size: 22;
    font-family: Helvetica, sans-serif;
    display: inline;
    margin: auto;
}

body {
    background-color: black;
    margin-bottom: 200px;
}

table {
    margin-left: 150px;
    margin-right: 150px;
    color: white;
    font-size: 22.5;
    font-family: Helvetica, sans-serif;
    width: 50%;
    text-align: left;
}

.overide {
    line-height: 0px;
    margin-top: 250px;
}

.reducedfont {
    font-size: 50;
    line-height: 0px;
}

.reducedfont2 {
    font-size: 50;
    line-height: 0px;
    margin-top: 200px;
    margin-left: 150px;
    margin-right: 150px;
}

.nolineheight {
    line-height: 0px;
}

.mediumfont {
    font-size: 22.5;
    line-height: 0px;
}

.smallfont {
    font-size: 15;
    line-height: 0px;
}

.img2 {
    margin-top: 175px;
    margin-left: 95px;
    margin-right: 95px;
    height: 100px;
}

.img3 {
    margin-top: 175px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
    height: 100px;
}

.img4 {
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
    margin-top: 50px;
    height: 500px;
}

.icon {
    margin-top: 0px;
    margin-left: 150px;
    margin-right: 150px;
    height: 150px;
}

.icon2 {
    margin-top: 0px;
    height: 150px;
}

.inline {
    display: inline;
    font-size: 22.5;
    line-height: 0px;
}

.inline2 {
    color: white;
    width: 100%;
    display: block;
	font-size: 20;
}

#one {
    line-height: 0px;
}

#two {
    line-height: 0px;
    margin-top: 75px;
}

a:link {
    color: #0066CC;
    text-decoration: none;
}

a:active {
    color: #0066CC;
}

a:visited {
    color: #0066CC;
}

a:hover {
    color: white;
}

.grid-container {
    display: grid;
    grid-column: 3;
    background-color: black;
    grid-template-columns: 20% 20% 20%;
    padding-bottom: 50px;
    padding-top: 15px;
    justify-content: space-evenly;
	margin-left:-137.5px;
	margin-right:150px;
	width: 1275x;
}

.grid-item {
    background-color: black;
    font-size: 15px;
    height: 100px;
	width: auto;
    padding-bottom: 125px;
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    left: 0 !important;
}

.menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    margin-top: 25px;
    margin-left: 15px;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: black;
    opacity: 75%;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}

.menu__item {
    display: block;
    padding: 15px 15px;
    color: white;
    font-family: Helvetica, sans-serif;
    margin-left: 20px;
    font-size: 25;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #0066CC;
}
